* {
  margin: 0;
  padding: 0;


}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  font-size: 24px;
  color: rgb(15, 15, 15);
  background: linear-gradient(to right, rgb(128, 128, 128), rgb(143, 136, 136));

}

.title {

  color: rgb(113, 119, 119);
  width: 100%;
  text-align: center;
  font-size: 24px;
}

.title a {
  color: black;
  text-decoration: none;
  font-size: 44px;
}

.title a:hover {
  color: rgb(151, 151, 167);
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  margin-left: 150px;
  margin-right: 50px;
}

.dinner {
  height: 300px;
  width: auto;
  display: block;
}

.divan {
  height: 400px;
  width: auto;
  padding-top: 20px;
  margin-right: 150px;
  margin-left: 50px;
}

.roast {
  height: 400px;
  width: auto;
  margin-right: 150px;
  padding-top: 20px;
  margin-left: 50px;
}

.spaghetti {
  height: 400px;
  width: auto;
  padding-top: 20px;
  margin-right: 150px;
  margin-left: 50px;
}

a {
  color: rgb(62, 66, 66);
  font-weight: bold;
}

li {
  list-style-type: none;

  padding: 5px;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;

  height: 50px;
  align-items: center;
  font-size: 24px;
}

.info,
.title {
  background-color: rgb(116, 109, 109);
  color: black;
}

.list-item a {
  text-decoration: none;
  color: black;
}

.page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 200px;
}

.recipe {
  display: flex;
  flex-direction: column;
}

.columns {
  display: flex;
  flex-direction: row;
}

.items {
  display: flex;
  flex-direction: column;
  width: 90%;


}

.items li {
  list-style-type: decimal;
  padding-left: 5px;
  margin-left: 20px;

}




.recipe h2 {
  margin-top: 20px;
  margin-bottom: 10px;

}

.recipe p {
  padding-bottom: 50px;
}

.columns ul,
ol {
  margin-top: 25px;
  padding: 0;
}

.list-item a:hover {
  color: rgb(151, 151, 167);
}



@media (max-width: 500px) {


  .page {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    width: 100vw;
   
  }

  .columns {
    display: flex;
    flex-direction: column;
  }

  .columns ul,
  ol {
    margin-top: 0;
    padding: 0;
  }

  li {
    width: 90vw;
    margin-left: 0;
    padding-top: 0;
  }

  .nav {
    font-size: 1rem;
    justify-content: space-between;
    margin-right: 10px;
    margin-left: 10px;
  }

  .description {
    margin-left: 10px;
  }

  .info {
    padding-left: 20px;
    width: 90vw;
  }

  .info li {
    font-size: 1rem;
  }

  .title {
    width: 95vw;
  }

  .divan, .roast, .spaghetti {
    height: 200px;
    width: auto;
    margin: 0 auto;
    
  }
}